.App {
  text-align: center;
  overflow-x: hidden;
}



.App-header {
  background-color: #193a58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.table-cell-trucate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #031121!important;
}
.MuiButton-textPrimary {
  color: #fff;
  font-weight: bolder;
}
