// Custom Variables

$context-path: "/";

$map-water-blue: #314d65;

$dark-blue: #041d37;
$dark: $dark-blue;

$ontime-green: #31c266;

$issue-red: #ee2326;

$risk-yellow: #f49c40;

$hover-glow: 0 0px 14px rgba(255, 255, 255, 0.6);

$opaque-white: rgba(255, 255, 255, 0.3);

// Custom Variables for Pivot

$ontime-green-light: #7ee2a4;
$ontime-green-darker: #0db84d;
$ontime-green-darkest: #028f36;

$issue-red-light: #ff8d85;
$issue-red-darker: #c10710;
$issue-red-darkest: #990008;

$risk-yellow: #fbc862;

$risk-yellow-lighter: #ffe2a2;
$risk-yellow-darker: #e59f0d;
$risk-yellow-darkest: #bc7900;

$action-blue: #29a6ca;
$dark-background: #282a37;
$accent-dark: rgba(71, 79, 102, 0.36);
$label-gray: #8d8e95;

$border-radius: 0.375rem;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$background100: #ccebf5;
$background200: #98d5eb;
$background300: #5ca5c8;
$background400: #2f7195;
$background500: #143252;
$background600: #011e39;
$background700: #00152d;
$background800: #001026;

$blue100: #bafaf6;
$blue200: #70f3f2;
$blue300: #00d1da;
$blue400: #00a5b8;
$blue500: #006d8a;
$blue600: #005576;
$blue700: #004060;
$blue800: #002e4f;

$green100: #daf8d3;
$green200: #b0f2ac;
$green300: #70da7e;
$green400: #2bb657;
$green500: #00852d;
$green600: #007327;
$green700: #005e22;
$green800: #004d1e;

$yellow100: #fdf6ca;
$yellow200: #faec97;
$yellow300: #f8da62;
$yellow400: #f1c83b;
$yellow500: #e8af00;
$yellow600: #c79000;
$yellow700: #a77402;
$yellow800: #865a00;

$red100: #fae0d2;
$red200: #f5baa7;
$red300: #e18975;
$red400: #c55b50;
$red500: #9f2122;
$red600: #891721;
$red700: #731122;
$red800: #5c0a20;

// Copy of Customized Bootstrap Variables

$primary: $blue500;
$secondary: $gray-600 !default;
$success: $green500;
$warning: $yellow400;
$danger: $red500;
$light: $gray-100 !default;
$dark: $background800;
$background: $background500;
$dnd-gray: #818a91;

$link-color: lighten($primary, 10%);
$link-hover-color: $primary;
$font-family-sans-serif: "Lato", sans-serif;
$font-family-base: "Lato", sans-serif;
$headings-font-family: "Montserrat", sans-serif;
$table-cell-padding: 15px;
$table-border-width: 0px;
$input-btn-padding-x: 0.5rem;
$input-btn-padding-y: 0.5rem !default;
$btn-font-weight: bold;
$input-bg: rgba(17, 26, 33, 0.3);

$input-border-color: rgba(256, 256, 256, 0);
$input-box-shadow: inset 0 0 4px 0 #111a21;
$badge-font-size: 0.8rem;

$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 0.5rem;
$input-btn-line-height: 1.5;

$widget-border-radius: 10px;
$widget-box-shadow: inset 0 2px 0 0 #2f7195, 0 5px 16px 0 rgba($background800, 0.75);
$widget-top-box-shadow: inset 0 2px 0 0 rgba($blue300, 0.3);
$widget-background: linear-gradient(180deg, #134d6c 0%, #013450 59%);
$widget-background-hover: linear-gradient(180deg, #1c5371 0%, #0a3b56 59%);
$widget-padding: 30px;

$drop-shadow: drop-shadow(0px 5px 11px rgba($background800, 0.75));
