.leftPanel {
    position: relative;
    height: 80vh;
   background: #143252;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 500;
}
.leftPanelExpanded {
    min-width: 224px;
      max-width: 224px;
    cursor: default;
}

.leftPanelExpandedCollapsed {
    min-width: 60px;
    max-width: 60px;
    padding: 10px 0 0;
    cursor: pointer;
}
.leftItem{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 40px;
        padding: 0 10px 0 4px;
        font-size: 14px;
        font-weight: 600;
        border-left: 3px solid transparent;
        cursor: pointer;
    
}
a{
    text-decoration: none;
    color:white;
}

a.activeCls{
    background-color: rgb(51, 50, 50);
}